span.form-span form select,
input {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

span.form-span form label {
    color: #999999;
    font-weight: bold;
    display: block;
}

span.form-span form {
    margin-bottom: 10px;
    margin-top: 10px;
}

span.form-span form input,
select,
label,
button,
.btn {}

.form-span * {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    margin-bottom: 10px;
    margin-top: 10px;
}

#time {
    margin: 10px;
    background-color: #4e555b;
    color: aliceblue;
    border-color: #1c7430;
}

span.margin-span {
    margin: 10px;
}

span.margin-span input {
    margin: 10px;
}

span.info {
    margin: 40px;
}

.accountside_info {
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    margin: 10px;
}

div.them div:hover {
    border-color: cyan;
    cursor: pointer;
}
td{
    text-align: center
}

/*.btn-danger {*/


/*    padding: 2px 2px;*/


/*}*/


/*.table-dark {*/


/*    border-radius: 20px;*/


/*}*/


/*span.form-span form .quantity-input {*/


/*    width: 50px;*/


/*}*/


/*li.warning {*/


/*    color: #856404;*/


/*    background-color: #fff3cd;*/


/*    border-color: #ffeeba*/


/*}*/


/*ul.messages {*/


/*    list-style: none;*/


/*}*/


/*ul.errorlist {*/


/*    list-style: none;*/


/*}*/


/*.errorlist li{*/


/*    color: #856404;*/


/*    background-color: #fff3cd;*/


/*    border-color: #ffeeba*/


/*}*/


/*.autocomplete {*/


/*  !*the container must be positioned relative:*!*/


/*  position: relative;*/


/*  display: inline-block;*/


/*}*/


/*input {*/


/*  border: 1px solid transparent;*/


/*  background-color: #f1f1f1;*/


/*  padding: 10px;*/


/*  font-size: 16px;*/


/*}*/


/*input[type=text] {*/


/*  background-color: #f1f1f1;*/


/*  width: 100%;*/


/*}*/


/*input[type=submit] {*/


/*  background-color: DodgerBlue;*/


/*  color: #fff;*/


/*}*/


/*.autocomplete-items {*/


/*  position: absolute;*/


/*  border: 1px solid #d4d4d4;*/


/*  border-bottom: none;*/


/*  border-top: none;*/


/*  z-index: 99;*/


/*  !*position the autocomplete items to be the same width as the container:*!*/


/*  top: 100%;*/


/*  left: 0;*/


/*  right: 0;*/


/*}*/


/*.autocomplete-items div {*/


/*  padding: 10px;*/


/*  cursor: pointer;*/


/*  background-color: #fff;*/


/*  border-bottom: 1px solid #d4d4d4;*/


/*}*/


/*.autocomplete-items div:hover {*/


/*  !*when hovering an item:*!*/


/*  cursor: pointer;*/


/*  background-color: lightblue;*/


/*}*/


/*.autocomplete-active {*/


/*  !*when navigating through the items using the arrow keys:*!*/


/*  background-color: DodgerBlue !important;*/


/*  color: #ffffff;*/


/*}*/


/*.autocomplete {*/


/*  !*the container must be positioned relative:*!*/


/*  position: relative;*/


/*  display: inline-block;*/


/*}*/


/*input {*/


/*  border: 1px solid transparent;*/


/*  background-color: #f1f1f1;*/


/*  padding: 10px;*/


/*  font-size: 16px;*/


/*}*/


/*input[type=text] {*/


/*  background-color: #f1f1f1;*/


/*  width: 100%;*/


/*}*/


/*input[type=submit] {*/


/*  background-color: DodgerBlue;*/


/*  color: #fff;*/


/*}*/


/*.autocomplete-items {*/


/*  position: absolute;*/


/*  border: 1px solid #d4d4d4;*/


/*  border-bottom: none;*/


/*  border-top: none;*/


/*  z-index: 99;*/


/*  !*position the autocomplete items to be the same width as the container:*!*/


/*  top: 100%;*/


/*  left: 0;*/


/*  right: 0;*/


/*}*/


/*.autocomplete-items div {*/


/*  padding: 10px;*/


/*  cursor: pointer;*/


/*  background-color: #fff;*/


/*  border-bottom: 1px solid #d4d4d4;*/


/*}*/


/*.autocomplete-items div:hover {*/


/*  !*when hovering an item:*!*/


/*  background-color: lightblue;*/


/*}*/


/*.autocomplete-active {*/


/*  !*when navigating through the items using the arrow keys:*!*/


/*  background-color: lightblue !important;*/


/*  color: #ffffff;*/


/*}*/