{% extends "base.html" %}

{% load static %}

{% block content %}



    <div class="container">
    <div style="margin-top: 5%;margin-bottom: 5%">
        <form action="" method="post" >
<ul class="form-inline" style="list-style: none">
          <li>  <label style="margin-right: 2%">Bank Code   <input type="text" name="code" s></label></li>
         <li><label style="margin-right: 2%;margin-left: 2%">Bank Name   <input type="text" name="name" ></label></li>
          <li> <label style="margin-right: 2%;margin-left: 2%">Bank Branch   <input type="text" name="branch" ></label></li>
           <li><label style="margin-right: 2%">Tel Phone   <input type="text" name="tel" ></label></li>

           <li><select class="select-open" name="region" id="" style="margin-right: 2%">
                {% for region in regions %}
                    <option value="{{ region.id }}">{{ region.city }} - {{ region.local_name }}</option>
                {% endfor %}
            </select></li>
</ul>
            {% csrf_token %}
           <div style="margin-top: 5%"> <input type="submit" value="Submit"></div>
        </form>
    </div>

        <div style="margin-left:5% ">
        <h5>Banks List</h5>
            <ol class="box-group1">
                {% for bank in banks %}
                    <li>{{ bank.name }} bank, {{ bank.branch }} branch</li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}