{% extends 'base.html' %}
{% load static %}
{% block Head %}
    {% load mathfilters %}

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>




    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable(
                {
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ], "lengthMenu": [10],
                    "pagingType": 'simple',
                    "lengthChange": false

                });
        });


    </script>

{% endblock Head %}
{% block content %}



    <div style="margin-bottom: 2%">

<select name="warehouse" id="">
            {% for warehose in accsess.warehouse.all %}
            <option value="{{ warehose.id }}">{{ warehose.name }}</option>
            {% endfor %}
        </select>
    </div>
    <table id="datatable" class="table dataTable" style="text-align: center">
        <thead>
        <tr>
            <th>Inventory ID</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Avrage Buy Price</th>
            <th scope="col">Sell Price</th>
            <th scope="col">Buy quantity</th>
            <th scope="col">Sell-Back </th>
            <th scope="col">Buy Back</th>
            <th scope="col">Order</th>

            <th cope="col">Seneded</th>
            <th scope="col">Returned</th>
            <th scope="col">Sold</th>
            <th scope="col">Sell Stock</th>
            <th scope="col">Stock</th>

            <th>diff stock</th>
            <th scope="col">WareHouse</th>

        </tr>
        <tbody>
        {% for item in inventory %}

            <tr style="text-align: center">

                <td>{{ item.id }}</td>
                <td scope="col"><a href="{% url 'cartext' item.id %}">{{ item.product.id }}</a></td>
                <td >{{ item.product.name }}</td>
                <th>{{ item.average_buy_price|floatformat:2 }}</th>
                <td>{{ item.product.price }}</td>
                <td>{{ item.buy_quantity }}</td>
                <td>{{ item.sell_back_quantity }}</td>
                <td>{{ item.buy_back_quantity }}</td>

                <td>{{ item.sell_order_quantity }}</td>
                <td>{{ item.sended }}</td>
                 <td>{{ item.order_back_quantity }}</td>
                <td>{{ item.finalize_sell_quantity }}</td>
                <td>{{ item.sell_stock }}</td>
                <td>{{ item.stock }}
                <p>{{ item.test_stock }}</p>
                </td>
                <td>{{ item.stock|sub:item.test_stock }}</td>
                <td class="cart_num">{{ item.warehouse }}</td>


            </tr>


        {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'auto_inventory_maker' %}" method="post">
        <input type="submit" class="btn btn-success" value="Make Inventory">
        {% csrf_token %}
    </form>



{% endblock %}