<html><head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>فروشگاه ها - فروشگاه هاي زنجيره اي افق کوروش</title>

    <meta property="og:title" content="فروشگاه هاي زنجيره اي افق کوروش">
    <meta property="og:site_name" content="فروشگاه هاي زنجيره اي افق کوروش">
    <meta property="og:description" content="فروشگاه هاي زنجيره اي افق کوروش">
    <meta property="og:image" content="/img/logo.png">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]

            });
        });
    </script>
	</head>
<body>

 <table id="datatable">
        <thead>
        <tr>
<th>Page</th>
          <th>name</th>
 <th>location</th>
            <th>address</th>
           
        </tr>
        </thead>
        <tbody id="body">




<tr> <td> 1 <td> دلسی شعبه فروشگاه زنجیره ای شهروند ایران زمین </td> <td> 35.762124,51.384271 </td> <td> 
 ایران تهران
تهران شهرک غرب، انتهای خیابان ایران زمین، فروشگاه زنجیره ای شهروند
 </td> </tr>
<tr> <td> 1 <td> دلسی شعبه فروشگاه زنجیره ای شهروند بوستان </td> <td> 35.7607914850855,51.3343906402588 </td> <td> 
 ایران تهران
تهران پونک، مجتمع بوستان، فروشگاه زنجیره ای شهروند
 </td> </tr>
<tr> <td> 1 <td> دلسی شعبه فروشگاه زنجیره ای شهروند بیهقی </td> <td> 35.736428,51.418211 </td> <td> 
 ایران تهران
تهران تهران میدان آرژانتین مرکزخرید شهروند
 </td> </tr>
<tr> <td> 1 <td> فروشگاه زنجیره ای شهروند لویزان </td> <td> 35.7873657858627,51.5040296316147 </td> <td> 
 ایران تهران
تهران بزرگراه لشکرک، مینی سیتی، خیابان ستاد نیروی زمینی، پایین تر از ستاد نیروی زمینی
 </td> </tr>
<tr> <td> 1 <td> فروشگاه زنجیره ای شهروند آرژانتین </td> <td> 35.736216,51.417778 </td> <td> 
 ایران تهران
تهران میدان آرژانتین، جنب پارک سوار بیهقی
 </td> </tr>
<tr> <td> 1 <td> فروشگاه زنجیره ای شهروند قزوین </td> <td> 36.2720608280621,50.0224374043773 </td> <td> 
 ایران قزوین
قزوین بلوار شهید بهشتی، ابتدای 16 متری توحید
 </td> </tr>
<tr> <td> 1 <td> فروشگاه زنجیره ای شهروند شعبه بهرود </td> <td> 35.789993,51.360709 </td> <td> 
 ایران تهران
تهران میدان سرو، شهرک مخابرات، انتهای بلوار پیام
 </td> </tr>
<tr> <td> 1 <td> فروشگاه زنجیره ای شهروند چیذر </td> <td> 35.7968445427344,51.4540623626418 </td> <td> 
 ایران تهران
تهران قیطریه، چیذر، میدان اندرزگو(چیذر)، پلاک 149
 </td> </tr>
<tr> <td> 1 <td> فروشگاه زنجیره ای شهروند مجیدیه </td> <td> 35.7422380614924,51.4734732359648 </td> <td> 
 ایران تهران
تهران مجیدیه شمالی، 16 متری دوم، خیابان موسایی
 </td> </tr>
<tr> <td> 1 <td> فروشگاه زنجیره ای شهروند طیب </td> <td> 35.664155655697,51.450235247612 </td> <td> 
 ایران تهران
تهران میدان خراسان، خیابان خاوران، خیابان اعظم نظامی، جنب بازار میوه و تره بار طیب (ساختمان قدیم تاکسیرانی)
 </td> </tr>
<tr> <td> 1 <td> فروشگاه زنجیره ای شهروند المپیک </td> <td> 35.753358,51.259524 </td> <td> 
 ایران تهران
تهران تهران میدان المپیک، سه راه زیبادشت بالا، روبروی منبع آب
 </td> </tr>
<tr> <td> 1 <td> فروشگاه زنجیره ای شهروند بوستان </td> <td> 35.7607199337868,51.3341642380981 </td> <td> 
 ایران تهران
تهران میدان پونک، ضلع غربی مجتمع تجاری بوستان، ابتدای خیابان میرزا بابایی
 </td> </tr>
<tr> <td> 1 <td> فروشگاه زنجیره ای شهروند حکیمیه </td> <td> 35.7376395143195,51.5932744450913 </td> <td> 
 ایران تهران
تهران اتوبان شهید بابایی، حکیمیه، بلواربهار، بلوار معراج، جنب اداره مخابرات
 </td> </tr>
<tr> <td> 1 <td> فروشگاه زنجیره ای شهروند صادقیه </td> <td> 35.717966,51.330897 </td> <td> 
 ایران تهران
تهران فلکه دوم صادقیه، اول بلوار فردوس، انتهای خیابان ولیعصر، نبش کوچه5
 </td> </tr>
<tr> <td> 1 <td> فروشگاه زنجیره ای شهروند </td> <td> 35.7881248536863,51.5045700755883 </td> <td> 
 ایران تهران
تهران بلوار نیرو زمینی
 </td> </tr>
<tr> <td> 1 <td> فروشگاه زنجیره ای شهروند آل احمد </td> <td> 35.72425,51.3935865767212 </td> <td> 
 ایران تهران
تهران بزرگراه کردستان، تقاطع بزرگراه جلال آل احمد، جنب میوه و تره بار قزل قلعه
 </td> </tr>
<tr> <td> 1 <td> فروشگاه زنجیره ای شهروند نبرد </td> <td> 35.6659085500037,51.4792728424072 </td> <td> 
 ایران تهران
تهران بزرگراه شهید محلاتی، نبرد جنوبی، چهارراه زمزم، روبروی آتش نشانی، خیابان شمشاد، مرکز خرید دیدار
 </td> </tr>
<tr> <td> 1 <td> فروشگاه زنجیره ای شهروند آزادگان </td> <td> 35.746347,51.508252 </td> <td> 
 ایران تهران
تهران بزرگراه رسالت، خیابان هنگام، بلوار دلاوران، بلوار آزادگان
 </td> </tr>
<tr> <td> 1 <td> فروشگاه های زنجیره ای تیراژه </td> <td> 34.295784087264,48.8244941085577 </td> <td> 
 ایران همدان
ملایر خیابان فخریه
 </td> </tr>
<tr> <td> 1 <td> فروشگاه های زنجیره ای رفاه کرمانشاه </td> <td> 34.3656546388971,47.1192046254873 </td> <td> 
 ایران کرمانشاه
کرمانشاه بلوار شهید شیرودی، بعد از فرهنگیان، خیابان رفاه
 </td> </tr>
<tr> <td> 1 <td> فروشگاه های زنجیره ای خانه و کاشانه بابلسر </td> <td> 36.693149,52.592725 </td> <td> 
 ایران مازندران
بابلسر خیابان پاسداران، روبروی شهرک دریاکنار، جنب مبل جهان
 </td> </tr>
<tr> <td> 1 <td> فروشگاه های زنجیره ای منیوفکتورا Manufaktura </td> <td> 50.085888,14.417147 </td> <td> 
 چک پراگ Karlova 223/26, Staré Město, 110 00 Praha-Praha 1, Czech Republic
 </td> </tr>
<tr> <td> 1 <td> دلسی شعبه فروشگاه زنجیره ای اتکا فکوری </td> <td> 35.701354,51.329695 </td> <td> 
 ایران تهران
تهران میدان آزادی، ابتدای جاده مخصوص، شهرک فکوری، فروشگاه زنجیره ای اتکا فکوری
 </td> </tr>
<tr> <td> 1 <td> دلسی شعبه فروشگاه زنجیره ای اتکا چمران </td> <td> 35.685963,51.406278 </td> <td> 
 ایران تهران
تهران خیابان امام خمینی، بعد از میدان حسن آباد ، فروشگاه زنجیره ای اتکا چمران
 </td> </tr>
<tr> <td> 1 <td> دلسی شعبه فروشگاه زنجیره ای اتکا شهدا </td> <td> 35.690165,51.452189 </td> <td> 
 ایران تهران
تهران خیابان پیروزی، میدان شهدا، فروشگاه زنجیره ای اتکا شهدا
 </td> </tr>
<tr> <td> 1 <td> فروشگاه شهروند آزادی </td> <td> 35.7020561327568,51.3340151309967 </td> <td> 
 ایران تهران
تهران میدان آزادی، داخل ترمینال غرب، روبروی تعاونی 15
 </td> </tr>
<tr> <td> 1 <td> فروشگاه شهروند بیهقی </td> <td> 35.7366877102337,51.4176571369171 </td> <td> 
 ایران تهران
تهران میدان آرژانتین، جنب پارک سوار بیهقی
 </td> </tr>
<tr> <td> 1 <td> فروشگاه شهروند بهاران </td> <td> 35.6508433869855,51.3553440570831 </td> <td> 
 ایران تهران
تهران ابتدای جاده ساوه، میدان ابوذر، انتهای سجاد جنوبی، میدان بهاران
 </td> </tr>
<tr> <td> 1 <td> فروشگاه شهروند نازی آباد </td> <td> 35.6375210513132,51.404482126236 </td> <td> 
 ایران تهران
تهران نازی آباد، خیابان مدائن، کوچه جعفری، پلاک6 (خانه سبز سابق)
 </td> </tr>
<tr> <td> 2 <td> فروشگاه شهروند مجیدیه </td> <td> 35.7419358357619,51.4740452170372 </td> <td> 
 ایران تهران
تهران مجیدیه شمالی، 16متری دوم، خیابان موسایی
 </td> </tr>
<tr> <td> 2 <td> فروشگاه شهروند آزادگان </td> <td> 35.7479045973118,51.5074735879898 </td> <td> 
 ایران تهران
تهران بزرگراه رسالت، خیابان هنگام، بلوار دلاوران ، بلوار آزادگان
 </td> </tr>
<tr> <td> 2 <td> فروشگاه شهروند ایران زمین </td> <td> 35.7619398067769,51.3834267854691 </td> <td> 
 ایران تهران
تهران میدان صنعت، فاز یک، انتهای خیابان ایران زمین، روبروی مجتمع سینا
 </td> </tr>
<tr> <td> 2 <td> آبشارهای زنجیره ای جوزه رود </td> <td> 36.0561006278032,50.9582376480103 </td> <td> 
 ایران البرز
کرج روستای کردان، روستای اغشت، روستای سفیدداران
 </td> </tr>
<tr> <td> 2 <td> فروشگاه زنجیره ای نجم خاورمیانه </td> <td> 35.618383,51.435974 </td> <td> 
 ایران تهران
تهران بزرگراه آزادگان، خیابان فداییان اسلام، بین خیابان غیبی و مختاری
 </td> </tr>
<tr> <td> 2 <td> فروشگاه زنجیره ای اتکا (شهید فکوری) </td> <td> 35.6907212887442,51.4501168846627 </td> <td> 
 ایران تهران
تهران پیروزی، میدان شهدا
 </td> </tr>
<tr> <td> 2 <td> فروشگاه زنجیره ای پروما تهران </td> <td> 35.756656,51.242198 </td> <td> 
 ایران تهران
تهران انتهای همت غرب ، شهرک گلستان ، میدان اتریش ، خیابان بنفشه دهم.
 </td> </tr>
<tr> <td> 2 <td> فروشگاه زنجیره ای اتکا - شعبه نارمک </td> <td> 35.80266854873,51.51660083611 </td> <td> 
 ایران تهران
تهران خیابان دردشت، خیابان نخجیر، روبروی مترو علم صنعت
 </td> </tr>
<tr> <td> 2 <td> فروشگاه زنجیره ای پروما اردبیل </td> <td> 38.22175,48.287112 </td> <td> 
 ایران اردبیل
اردبیل منطقه توریستی شورابیل ، مجتمع تجاری شوراسنتر ، فروشگاه پروما
 </td> </tr>
<tr> <td> 2 <td> فروشگاه زنجیره ای تونل </td> <td> 36.6944643905601,52.6100935880095 </td> <td> 
 ایران مازندران
بابلسر جاده فریدونکنار، جنب رستوران ماتو
 </td> </tr>
<tr> <td> 2 <td> باشگاه های زنجیره ای ستارگان سرزمین سورنا </td> <td> 35.7656572095434,51.4143607020378 </td> <td> 
 ایران تهران
تهران ولیعصر، بالاتر از میرداماد، خیابان سرو، ساختمان شهرداری طبقه 3
 </td> </tr>
<tr> <td> 2 <td> فروشگاه زنجیره ای رفاه شهدای خلیج فارس </td> <td> 35.66198023068,51.26507194394 </td> <td> 
 ایران تهران
تهران جاده قدیم کرج، خیابان خلیج فارس، خیابان ابوسعید شرقی، نبش خیابان شهید فلاح زاده پلاک 386
 </td> </tr>
<tr> <td> 2 <td> فروشگاه زنجیره ای صدف </td> <td> 35.759855,51.3027881865082 </td> <td> 
 ایران تهران
تهران اتوبان همت غرب، خیابان جنت آباد شمالی، روبروی 35 متری گلستان، نبش اقاقیا (درمانگاه الیاد)، جنب پیتزا اژدر، پلاک 242
 </td> </tr>
<tr> <td> 2 <td> رستوران زنجیره ای نخلستان (نخلستان2) </td> <td> 28.9576852250199,50.8430240303278 </td> <td> 
 ایران بوشهر
بوشهر خیابان شهید مطهری، نبش باهنر، نخلستان 2
 </td> </tr>
<tr> <td> 2 <td> فروشگاه زنجیره ای تونل بندرعباس </td> <td> 27.2100985829842,56.3452998921275 </td> <td> 
 ایران هرمزگان
بندرعباس گلشهر شمالی، چهاراه داماهی، بلوار مصطفی خمینی، ساختمان قصر طلایی، طبقه اول
 </td> </tr>

<tr> <td> 2 <td> مراکز زنجیره ای میسی Macy's Herald Square </td> <td> 40.750233,-73.98802 </td> <td> 
 آمریکا نیویورک خیابان 34 ام
 </td> </tr>
<tr> <td> 2 <td> فروشگاه زنجیره ای نما </td> <td> 35.6628354028633,51.3574998825789 </td> <td> 
 ایران تهران
تهران خیابان امین الملک، نبش خیابان سجاد شمالی، پاساژ پوریا، طبقه اول و دوم
 </td> </tr>
<tr> <td> 2 <td> فروشگاه زنجیره ای پاسارگاد کنگاور </td> <td> 34.5032756358422,47.9649118334055 </td> <td> 
 ایران کرمانشاه
کنگاور ضلع غربی میدان آزادی، زیر ساختمان پزشکان رحمت آبادی
 </td> </tr>
<tr> <td> 2 <td> فروشگاه زنجیره ای اتکا (چمران) </td> <td> 35.6861686428891,51.406586364418 </td> <td> 
 ایران تهران
تهران خیابان امام خمینی، بعد از میدان حسن آباد
 </td> </tr>
<tr> <td> 2 <td> فروشگاه زنجیره ای اتکا (مرکزی) </td> <td> 35.8264667471799,50.9704360932541 </td> <td> 
 ایران البرز
کرج خیابان رسالت
 </td> </tr>
<tr> <td> 2 <td> فروشگاه زنجیره ای اتکا (شهید نامجو) </td> <td> 35.7116656442821,51.3895747288361 </td> <td> 
 ایران تهران
تهران خیابان کارگر شمالی، رو به روی پارک لاله
 </td> </tr>
<tr> <td> 2 <td> فروشگاه زنجیره ای اتکا </td> <td> 37.2822946095441,49.6125997288361 </td> <td> 
 ایران گیلان
رشت ابتدای خیابان فلسطین
 </td> </tr>
<tr> <td> 2 <td> فروشگاه زنجیره ای اتکا </td> <td> 36.560191,53.058286 </td> <td> 
 ایران مازندران
ساری نرسیده به میدان شهرداری
 </td> </tr>
<tr> <td> 2 <td> فروشگاه زنجیره ای اتکا (اندیشه) </td> <td> 35.682247,51.013683 </td> <td> 
 ایران تهران
شهریار شهر جدید اندیشه، فاز 1، خیابان ارغوان چهارم
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای اتکا (شهدای اسلامشهر) </td> <td> 35.545049,51.254827 </td> <td> 
 ایران تهران
اسلام شهر تقاطع خیابان حمیدپور و مصطفی خمینی
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای اتکا </td> <td> 34.809974,48.506629 </td> <td> 
 ایران همدان
همدان بلوار فلسطین
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای اتکا (شهید زین الدین) </td> <td> 34.6465654131706,50.8864160932541 </td> <td> 
 ایران قم
قم چهارراه بازار، خیابان 19 دی
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای اتکا شهید رجایی </td> <td> 35.62708432334,51.40978096428 </td> <td> 
 ایران تهران
تهران سه راه نان ماشینی، خیابان شهید رجایی، خیابان شهید عباس صیادی، فروشگاه اتکا شهید رجایی
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای اتکا </td> <td> 29.5960508148754,52.5207295621457 </td> <td> 
 ایران فارس
شیراز بلوار رحمت، خیابان سپاه شمالی، جنب دادسرای نظام
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای اتکا شهید فلاحی </td> <td> 35.72681437259,51.44523521873 </td> <td> 
 ایران تهران
تهران خیابان شریعتی، نبش معلم
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای رفاه تهرانسر (استقلال) </td> <td> 35.69155735586,51.24869078335 </td> <td> 
 ایران تهران
تهران شهرک تهرانسر، بلوار هجرت ، جنب میدان میوه و تره بار
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای رفاه کوهسار </td> <td> 35.77916894452,51.33437437786 </td> <td> 
 ایران تهران
تهران انتهای بزرگراه آیت ا... اشرفی اصفهانی، خیابان سیمون بولیوار، خیابان شهید اقبالی پور، پلاک 17
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای اتکا </td> <td> 31.8939852289768,54.3424425501901 </td> <td> 
 ایران یزد
یزد بلوار پاکنژاد
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای رفاه میرداماد (دامن افشار) </td> <td> 35.762031654261,51.4123436808586 </td> <td> 
 ایران تهران
تهران خیابان حضرت ولی عصر(عج) ، بالاتر از میدان ونک، خیابان شهید دامن افشار
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای رفاه پیروزی </td> <td> 35.70301593801,51.50391303023 </td> <td> 
 ایران تهران
تهران بزرگراه شهید عباس دوران، روبروی اسبدوانی، میدان میوه و تره بار پیروزی
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای سپه زمرد </td> <td> 35.7577425636777,51.4509379863739 </td> <td> 
 ایران تهران
تهران خیابان شریعتی، پشت حسینه ارشاد، خیابان ناطق نوری
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای اتکا جهادخودکفا </td> <td> 35.7221202054715,51.2626791000366 </td> <td> 
 ایران تهران
تهران بلوارغربی استادیوم آزادی، جنب کارواش آزادی، سازمان پژوهش باقرالعلوم
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای اتکا شهید بروجردی </td> <td> 35.63847936342,51.46829681046 </td> <td> 
 ایران تهران
تهران سه راه افسریه، شهرک شهید بروجردی، طبقه همکف، مسجدامام حسن مجتبی(ع)
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای اتکا سوم خرداد </td> <td> 35.74062479427,51.45233830759 </td> <td> 
 ایران تهران
تهران سید خندان، خیابان شهید کابلی، کوچه گلفام
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای مادر </td> <td> 34.6398770179421,50.8769248053432 </td> <td> 
 ایران قم
قم بلوار زائر، خیابان ارم
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای رفاه ارومیه </td> <td> 37.5512018645923,45.0561678037047 </td> <td> 
 ایران آذربایجان غربی
ارومیه چهارراه همافر
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای تونل رویان </td> <td> 36.5840766355706,51.6859186068177 </td> <td> 
 ایران مازندران
رویان کیلومتر 13 جاده نوشهر به رویان
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای افق کوروش باقرشهر </td> <td> 35.5309280256996,51.4010918140411 </td> <td> 
 ایران تهران
باقرشهر روبه روی مسجد ولی عصر(عج)
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای رفاه کیوان (شهید سرپرست) </td> <td> 35.70579061451,51.40192922149 </td> <td> 
 ایران تهران
تهران خیابان آیت ا... طالقانی غربی، بالاتر از میدان فلسطین، نبش خیابان شهید سرپرست، پلاک 19
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای رفاه شهیدان دستواره (رازی) </td> <td> 35.58878276473,51.42654998495 </td> <td> 
 ایران تهران
تهران شهر ری، میدان هادی ساعی (شهرداری)، پلاک 307
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای رفاه شهید احمدی روشن </td> <td> 35.7732053628259,51.4382565021515 </td> <td> 
 ایران تهران
تهران خیابان دکتر شریعتی، بالاتر از دوراهی قلهک، جنب سینا خودرو، پلاک 1402
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای رفاه شهدای معلم </td> <td> 35.66143836092,51.34095847903 </td> <td> 
 ایران تهران
تهران چهارراه یافت آباد، ابتدای بلوار معلم، پلاک 23
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای جامبو خیابان سوریده </td> <td> 35.726040898676,51.3684891103826 </td> <td> 
 ایران تهران
تهران بزرگراه شیخ فضل الله نوری، خیابان سوریده
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای سپه دولت </td> <td> 35.7013573881836,51.4282143115997 </td> <td> 
 ایران تهران
تهران خیابان انقلاب اسلامی، روبروی خیابان بهار
 </td> </tr>
<tr> <td> 3 <td> باشگاه های زنجیره ای SLS </td> <td> 35.7670437890428,51.4568690657507 </td> <td> 
 ایران تهران
تهران خیابان پاسداران، جنب بج سفید، ابتدای نیستان ششم، باشگاه دروس
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای سپه ویلا </td> <td> 35.7023331892349,51.4161121845245 </td> <td> 
 ایران تهران
تهران خیابان انقلاب اسلامی، خیابان استاد نجات الهی
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای اتکا خاورشهر </td> <td> 35.5687798542283,51.5494179725647 </td> <td> 
 ایران تهران
تهران جاده امام رضا (ع)، روبروی تعویض پلاک خاوران
 </td> </tr>
<tr> <td> 3 <td> فروشگاه زنجیره ای سپه شریف </td> <td> 35.7428828383395,51.1409711837769 </td> <td> 
 ایران تهران
تهران کیلومتر 11 جاده مخصوص کرج، روبروی مبلیران
 </td> </tr>
<tr> <td> 4 <td> فروشگاه زنجیره ای رفاه شهید توکلی </td> <td> 35.6934861463166,51.3875024074097 </td> <td> 
 ایران تهران
تهران خیابان آذربایجان، بین خیابان گلشن و خیابان پیروز، جنب بانک پارسیان، پلاک 304
 </td> </tr>
<tr> <td> 4 <td> فروشگاه زنجیره ای سپه رودکی </td> <td> 35.6943504372958,51.3759970664978 </td> <td> 
 ایران تهران
تهران خیابان رودکی، نرسیده به دامپزشکی
 </td> </tr>
<tr> <td> 4 <td> فروشگاه زنجیره ای رفاه ارومیه </td> <td> 37.513429,45.049489 </td> <td> 
 ایران آذربایجان غربی
ارومیه شهرک بهداری، خیابان سعدی
 </td> </tr>
<tr> <td> 4 <td> فروشگاه زنجیره ای سپه امیر آباد </td> <td> 35.714721339144,51.3905346393585 </td> <td> 
 ایران تهران
تهران تقاطع خیابان کارگر شمالی و فاطمی، روبروی موزه فرش
 </td> </tr>
<tr> <td> 4 <td> فروشگاه زنجیره ای لاوان میرداماد </td> <td> 35.7601124092399,51.4303439855576 </td> <td> 
 ایران تهران
تهران بلوار میرداماد، مجتمع تجاری آرین
 </td> </tr>
<tr> <td> 4 <td> دلسی شعبه فروشگاه زنجیره ای اتکا نامجو </td> <td> 35.711794,51.389338 </td> <td> 
 ایران تهران
تهران خیابان کارگر شمالی، ضلع غربی پارک لاله
 </td> </tr>
<tr> <td> 4 <td> فروشگاه زنجیره ای سپه شهید مقیمی </td> <td> 35.6853429616521,51.3930398225784 </td> <td> 
 ایران تهران
تهران خیابان کارگر جنوبی، پائین تر از میدان حر، نرسیده به چهارراه لشگر
 </td> </tr>
<tr> <td> 4 <td> فروشگاه زنجیره ای سپه زنجان </td> <td> 35.7078401425678,51.3594156503677 </td> <td> 
 ایران تهران
تهران خیابان زنجان شمالی، کوچه اقبال آشتیانی
 </td> </tr>

<tr> <td> 4 <td> فروشگاه زنجیره ای لاوان جمهوری </td> <td> 35.6910079347275,51.4103990793228 </td> <td> 
 ایران تهران
تهران جمهوری، پایین تر از علاالدین
 </td> </tr>
<tr> <td> 4 <td> فروشگاه زنجیره ای افق کوروش فرجام </td> <td> 35.7369469026129,51.5157716721296 </td> <td> 
 ایران تهران
تهران خیابان فرجام، بین اتوبان باقری و سه راه سراج
 </td> </tr>
<tr> <td> 4 <td> فروشگاه زنجیره ای سپه شمیران </td> <td> 35.8069167584001,51.4250922203064 </td> <td> 
 ایران تهران
تهران میدان تجریش، ابتدای خیابان ولیعصر
 </td> </tr>
<tr> <td> 4 <td> فروشگاه زنجیره ای لاوان علم و صنعت </td> <td> 35.7437379619551,51.5071624517441 </td> <td> 
 ایران تهران
تهران خیابان هنگام، میدان الغدیر، خیابان الغدیر
 </td> </tr>
<tr> <td> 4 <td> دلسی شعبه فروشگاه زنجیره ای اتکا معلم </td> <td> 35.727016,51.445185 </td> <td> 
 ایران تهران
تهران خیابان شریعتی، خیابان معلم
 </td> </tr>
<tr> <td> 4 <td> فروشگاه زنجیره ای اتکا (مرکزی) </td> <td> 36.2574508371533,59.6268488220901 </td> <td> 
 ایران خراسان رضوی
مشهد بزرگراه غدیر
 </td> </tr>
<tr> <td> 4 <td> فروشگاه زنجیره ای اتکا </td> <td> 34.35478,47.183371 </td> <td> 
 ایران کرمانشاه
کرمانشاه بلوار کشوری
 </td> </tr>
<tr> <td> 4 <td> فروشگاه زنجیره ای اتکا </td> <td> 30.286609,57.071464 </td> <td> 
 ایران کرمان
کرمان خیابان قره نی، جنب تامین اجتماعی
 </td> </tr>
<tr> <td> 4 <td> فروشگاه زنجیره ای اتکا </td> <td> 35.646434,51.061692 </td> <td> 
 ایران تهران
شهریار نبش خیابان محمدیه
 </td> </tr>
<tr> <td> 4 <td> فروشگاه زنجیره ای اتکا (زعفرانیه) </td> <td> 38.0466108877346,46.3399513411045 </td> <td> 
 ایران آذربایجان شرقی
تبریز ابتدای خیابان میرزا کوچک خان
 </td> </tr>
<tr> <td> 4 <td> فروشگاه شهروند خانی آباد </td> <td> 35.6324740258778,51.3838049769402 </td> <td> 
 ایران تهران
تهران میدان بهمن، به سمت خانی آباد، خیابان میثاق، خیابان مینا، جنب شهرداری منطقه 19
 </td> </tr>
<tr> <td> 4 <td> فروشگاه شهروند جمهوری </td> <td> 35.6944889793084,51.4151009917259 </td> <td> 
 ایران تهران
تهران خیابان جمهوری، بعداز تقاطع حافظ، کوچه نوبهار، شماره 32
 </td> </tr>
<tr> <td> 4 <td> فروشگاه شهروند شعبه ترکمنستان </td> <td> 35.7187292167674,51.4396780729294 </td> <td> 
 ایران تهران
تهران انتهای خیابان مطهری، نرسیده به خیابان شریعتی، نرسیده به ملک، خیابان ترکمنستان
 </td> </tr>
<tr> <td> 4 <td> فروشگاه شهروند مترو صادقیه </td> <td> 35.7180837536304,51.3305604457855 </td> <td> 
 ایران تهران
تهران فلکه دوم صادقیه، اول بلوار فردوس، انتهای خیابان ولیعصر،نبش کوچه5
 </td> </tr>
<tr> <td> 4 <td> فروشگاه شهروند شعبه المپیک </td> <td> 35.7533901162709,51.2597984075546 </td> <td> 
 ایران تهران
تهران میدان المپیک، سه راه زیبادشت بالا، روبروی منبع آب
 </td> </tr>
<tr> <td> 4 <td> فروشگاه شهروند صادقیه </td> <td> 35.7238770526312,51.3489443063736 </td> <td> 
 ایران تهران
تهران خیابان ستارخان، خیابان خسرو شمالی، جنب میوه و تره بار صادقیه
 </td> </tr>
<tr> <td> 4 <td> فروشگاه شهروند تهران نو </td> <td> 35.7081372162974,51.4699602127075 </td> <td> 
 ایران تهران
تهران تهران نو، جنب پمپ بنزین قاسم آباد، مجتمع لیوار
 </td> </tr>
<tr> <td> 4 <td> فروشگاه شهروند کاشانک </td> <td> 35.8122711804786,51.4782026410103 </td> <td> 
 ایران تهران
تهران خیابان پورابتهاج، انتهای دیوار کاخ، خیابان نصیرآبادی، جنب کوچه ماه، پلاک آبی11
 </td> </tr>
<tr> <td> 4 <td> فروشگاه زنجیره ای نجم خاورمیانه رشت </td> <td> 37.281518,49.581844 </td> <td> 
 ایران گیلان
رشت سبزه میدان، خیابان استاد سرا
 </td> </tr>
<tr> <td> 4 <td> فروشگاه زنجیره ای شرق شعبه سرسبز </td> <td> 35.73721,51.495289 </td> <td> 
 ایران تهران
تهران چهار راه سر سبز، خیابان آیت شمالی، نبش مظاهری
 </td> </tr>
<tr> <td> 4 <td> فروشگاه میثم عطر ونک (اولین فروشگاه زنجیره ای عطر و ادکلن) </td> <td> 35.7570752689218,51.409552759819 </td> <td> 
 ایران تهران
تهران میدان ونک، اول خیابان برزیل، جنب چرم مشهد
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای خانه و کاشانه دزفول </td> <td> 32.374525,48.410835 </td> <td> 
 ایران خوزستان
دزفول خیابان طالقانی، بین مطهری و خیام ، پلاک 710
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای رفاه تهرانپارس </td> <td> 35.734652,51.529892 </td> <td> 
 ایران تهران
تهران تهرانپارس، ضلع جنوب شرقی فلکه دوم
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای رفاه ارومیه </td> <td> 37.5512448759271,45.0561480522156 </td> <td> 
 ایران آذربایجان غربی
ارومیه بلوار آیت الله مدرس، چهار راه همافر، جنب سازمان انتقال خون
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای رفاه خرم آباد </td> <td> 33.4975361632603,48.3546454378891 </td> <td> 
 ایران لرستان
خرم آباد جنب پل انقلاب، روبروی بوستان صخره ای
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای حامی ولنجک </td> <td> 35.8072576349818,51.4058497905095 </td> <td> 
 ایران تهران
تهران ولنجک ، خیابان سیزدهم ، نبش بلوار ساسان
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای یاس </td> <td> 35.7182752835103,51.4279097986202 </td> <td> 
 ایران تهران
تهران میدان هفت تیر، نبش خیابان آذری
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای هایپر کیپر </td> <td> 36.284152,50.021128 </td> <td> 
 ایران قزوین
قزوین قزوین بلوار شهید بهشتی ، میدان لشگر ، ابتدای شهرک ولایت
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای دلفین </td> <td> 37.2622467712239,49.5904247159641 </td> <td> 
 ایران گیلان
رشت منظریه، روبروی هتل کادوس
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای رفاه پاسداران </td> <td> 35.76716,51.459537 </td> <td> 
 ایران تهران
تهران خیابان پاسداران، بعد از برج سفید، بوستان هشتم
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای تونل کاشان </td> <td> 33.9818193640944,51.4328269960242 </td> <td> 
 ایران اصفهان
کاشان میدان امام حسین، ابتدای خیابان ملا محسن، پاساژ الماس شهر
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای لیندو شریعتی </td> <td> 35.734321,51.445114 </td> <td> 
 ایران تهران
تهران خیابان شریعتی، بالاتر از خیابان شهید بهشتی، نبش خیابان هویزه
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای افق کوروش تبریز </td> <td> 38.040222,46.366644 </td> <td> 
 ایران آذربایجان شرقی
تبریز فلکه پرواز، جنب بانک سپه
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای افق کوروش شیراز </td> <td> 29.681351,52.462833 </td> <td> 
 ایران فارس
شیراز معالی آباد، جنب درمانگاه آریا، ساختمان اهورا
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای افق کوروش نارمک </td> <td> 35.728332,51.502696 </td> <td> 
 ایران تهران
تهران نارمک، خیابان دردشت، پائین تر از چهارراه گلبرگ، پلاک 345
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای حامی مشهد </td> <td> 36.2860420010471,59.5720129449775 </td> <td> 
 ایران خراسان رضوی
مشهد کوهسنگی
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای رفاه شریعتی </td> <td> 35.770007,51.440068 </td> <td> 
 ایران تهران
تهران خیابان شریعتی
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای لیندو </td> <td> 35.772135,51.461873 </td> <td> 
 ایران تهران
تهران خیابان پاسداران، ابتدای گلستان چهارم (توحیدی)
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای رفاه کرمانشاه </td> <td> 34.3657387721785,47.1199200156843 </td> <td> 
 ایران کرمانشاه
کرمانشاه بلوار شهید شیرودی
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای رفاه قم </td> <td> 34.648635,50.878512 </td> <td> 
 ایران قم
قم میدان مطهری، خیابان هدف
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای خانه و کاشانه نور </td> <td> 36.571637,51.979191 </td> <td> 
 ایران مازندران
نور 500 متر مانده به پلیس راه
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای افق کوروش ارومیه </td> <td> 37.543731,45.070564 </td> <td> 
 ایران آذربایجان غربی
ارومیه خیابان باکری، خیابان دانش 2، پلاک 100
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای رفاه یزد </td> <td> 31.874393,54.363861 </td> <td> 
 ایران یزد
یزد چهار راه مهدیه، بلوار امام جعفر صادق (ع)
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای کوثر 5 (بازار بزرگ کوثر 5) </td> <td> 32.6633098483267,51.7049822807312 </td> <td> 
 ایران اصفهان
اصفهان خیابان جی, خیابان همدانیان، جنب ترمینال جی
بازار بزرگ کوثر 5
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای افق کوروش گوهردشت </td> <td> 35.823816,50.947155 </td> <td> 
 ایران البرز
کرج سه راه گوهردشت، بلوار سرداران غربی، چهارراه حدادی، جنب تالار صدف، ساختمان کوروش
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای تارا </td> <td> 27.2014183693188,56.3444290113352 </td> <td> 
 ایران هرمزگان
بندرعباس ابتدای خیابان داماهی، جنب آتش نشانی
 </td> </tr>
<tr> <td> 5 <td> فروشگاه زنجیره ای جانبو نازی آباد </td> <td> 35.637876,51.4053 </td> <td> 
 ایران تهران
تهران نازی آباد، خیابان اکبر مشهدی، پلاک 76
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای رفاه 13 آبان </td> <td> 35.683719,51.4833295925903 </td> <td> 
 ایران تهران
تهران خیابان پیروزی، خیابان پرستار، میدان 13 آبان، نبش کوچه شهاب
 </td> </tr>

<tr> <td> 6 <td> فروشگاه زنجیره ای افق کوروش نیاوران </td> <td> 35.808958,51.439937 </td> <td> 
 ایران تهران
تهران نیاوران، خیابان مژده (مقدسی)، خیابان احمدی زمانی، پلاک 15
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای تین پوش رامسر </td> <td> 36.960244,50.600231 </td> <td> 
 ایران مازندران
رامسر کیلومتر 5 غرب رامسر
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای حامی </td> <td> 32.5500696521859,51.6857099418335 </td> <td> 
 ایران اصفهان
اصفهان سپاهان شهر، بلوار قائم
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای جانبو </td> <td> 35.719918,51.330654 </td> <td> 
 ایران تهران
تهران فلکه دوم صادقیه، بلوار فردوس، خیابان ولیعصر، کوچه شهید باقری، پلاک 26
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای افق کوروش گیشا </td> <td> 35.732286,51.376946 </td> <td> 
 ایران تهران
تهران کوی نصر(گیشا)، خیابان هفدهم، نبش کوچه صائمی
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای افق کوروش کازرون </td> <td> 29.601186,51.670585 </td> <td> 
 ایران فارس
کازرون‎ بلوار پریشان، جنب ترمینال مسافربری
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای افق کوروش بلوار فردوس </td> <td> 35.72301,51.31911 </td> <td> 
 ایران تهران
تهران بلوار فردوس، نرسیده به رامین جنوبی، پلاک280
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای رفاه استان فارس </td> <td> 30.8973423290271,52.6936066815185 </td> <td> 
 ایران فارس
اقلید‎ بلوار امام خمینی، باغستان، کوچه 147
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای افق کوروش ارومیه </td> <td> 37.5120875176746,45.0660999924122 </td> <td> 
 ایران آذربایجان غربی
ارومیه مولوی 2، خیابان فارابی اول، خیابان محتشم ، کوچه دوم ، پلاک 4
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای افق کوروش آزادی </td> <td> 35.699589,51.355095 </td> <td> 
 ایران تهران
تهران خیابان آزادی، خیابان شهیدان، پلاک 144
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای خانه و کاشانه نمک آبرود </td> <td> 36.6885270087403,51.3175126156956 </td> <td> 
 ایران مازندران
چالوس نرسیده به نمک آبرود، بعد از پلیس راه
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای فرنا البرز </td> <td> 35.7958313821994,51.0022700497436 </td> <td> 
 ایران البرز
کرج بلوار شهید چمران، ضلع جنوبی میدان امام حسین، مجتمع تجاری و اداری بل سنتر
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای جانبو پیروزی </td> <td> 35.691628,51.477774 </td> <td> 
 ایران تهران
تهران خیابان پیروزی، چهار راه کوکا کولا، ایستگاه مترو نبرد، پلاک 2/777
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای خانه و کاشانه مرزن آباد </td> <td> 36.4455184936523,51.2959747314453 </td> <td> 
 ایران مازندران
مرزن آباد جاده چالوس
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای جانبو اسدآبادی </td> <td> 35.72339,51.408792 </td> <td> 
 ایران تهران
تهران خیابان فتحی شقاقی، خیابان سید جمال الدین اسدآبادی، کوچه سوم، پلاک 62
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای جانبو شهر زیبا </td> <td> 35.744243,51.295038 </td> <td> 
 ایران تهران
تهران شهر زیبا، خیابان کانون، نبش خیابان نهال، پلاک 25
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای جانبو دردشت </td> <td> 35.732905,51.503913 </td> <td> 
 ایران تهران
تهران دردشت، نبش کوچه برادران نیکچه فراهانی، پلاک 551
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای جانبو نیرو هوایی </td> <td> 35.709653,51.472981 </td> <td> 
 ایران تهران
تهران سه راه تهرانپارس، خیابان دماوند، روبروی نیروی هوایی، جنب ایران خودرو
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای جانبو میدان الغدیر </td> <td> 35.645702,51.306731 </td> <td> 
 ایران تهران
تهران میدان الغدیر، خیابان شهید مرتضی زندیه، پلاک 21
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای رفاه شهید فکوری (رفاه میدان آزادی) </td> <td> 35.699853,51.325301 </td> <td> 
 ایران تهران
تهران میدان آزادی، ابتدای جاده مخصوص کرج، جنب مجتمع شهید فکوری
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای شرق فاطمی </td> <td> 35.7230007373602,51.4024880429421 </td> <td> 
 ایران تهران
تهران میدان فاطمی،خیابان شهید گمنام , بن بست اول سمت چپ،تعاونی , وزارت کشور
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای خلیج فارس </td> <td> 31.8239006008889,54.3835449867849 </td> <td> 
 ایران یزد
یزد بوستان ناجی
 </td> </tr>
<tr> <td> 6 <td> فروشگاه زنجیره ای خانه و کاشانه قزوین </td> <td> 36.26844,50.008703 </td> <td> 
 ایران قزوین
قزوین سه راه خیام، روبروی پاساژ طالقانی، جنب مجتمع تجاری البرز
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای اتکا اراک </td> <td> 34.1074867248535,49.6975631713867 </td> <td> 
 ایران مرکزی
اراک خیابان قائم مقام، روبروی پارک آزادی
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای رفاه مهرشهر </td> <td> 35.801586151123,50.8920097351074 </td> <td> 
 ایران البرز
کرج مهرشهر
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای سون تن </td> <td> 35.712108,51.382445 </td> <td> 
 ایران تهران
تهران خیابان کارگر شمالی، خیابان دکتر فاطمی، جنب نمایشگاه هیوندا، پلاک 39
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای رفاه بعثت </td> <td> 35.6462745666504,51.4457893371582 </td> <td> 
 ایران تهران
تهران بزرگراه بعثت، ابتدای خیابان 17 شهریور، جنب میدان میوه و تره بار بعثت
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای رفاه تبریز </td> <td> 38.0532106737588,46.351391875201 </td> <td> 
 ایران آذربایجان شرقی
تبریز دروازه تهران ، جنب پل اتحاد ملی (پل کابلی ) مرکز خرید الماس
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای رفاه همدان </td> <td> 34.8048553466797,48.5054473876953 </td> <td> 
 ایران همدان
همدان میدان فلسطین
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای اتکا ورامین </td> <td> 35.328182,51.651571 </td> <td> 
 ایران تهران
ورامین بلوار رسالت
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای لیندو شوش </td> <td> 35.657346,51.427991 </td> <td> 
 ایران تهران
تهران میدان شوش،خیابان صابونیان، خیابان کاخ جوانان، پاساژ نور، طبقه همکف، پلاک 280
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای رفاه چالوس </td> <td> 36.667171,51.408348 </td> <td> 
 ایران مازندران
چالوس بلوار امام ، جنب بانک ملی
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای سپه تجریش </td> <td> 35.806881,51.427909 </td> <td> 
 ایران تهران
تهران خیابان ولیعصر، نرسیده به میدان تجریش، پلاک 1790
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای کوروش آزادی </td> <td> 35.6977905013884,51.3551600220385 </td> <td> 
 ایران تهران
تهران خیابان آزادی، خیابان شهیدان، پلاک144
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای جانبو شریعتی </td> <td> 35.775612,51.43583 </td> <td> 
 ایران تهران
تهران شریعتی
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای باران شعبه ولیعصر </td> <td> 35.725558,51.412471 </td> <td> 
 ایران تهران
تهران خیابان ولیعصر ، بین خیابان بهشتی و مطهری، پلاک 2029
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای حامی اراک </td> <td> 34.093574913584,49.7148942947388 </td> <td> 
 ایران مرکزی
اراک بلوار قدس
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای رفاه جهانشهر </td> <td> 35.837567,50.983334 </td> <td> 
 ایران البرز
کرج جهانشهر
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای سپه شریعتی </td> <td> 35.758807532135,51.450727143135 </td> <td> 
 ایران تهران
تهران شریعتی، حسینیه ارشاد، خیابان گل نبی، خیابان زمرد
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای رفاه زنجان </td> <td> 36.6653346999643,48.4960720833648 </td> <td> 
 ایران زنجان
زنجان چهارراه انقلاب
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای مزرعه و محله </td> <td> 35.7369443172259,51.5160348638892 </td> <td> 
 ایران تهران
تهران خیابان فرجام ، حد فاصل اتوبان باقری و خیابان سراج پلاک 265
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای رفاه ولیعصر </td> <td> 35.76187913792,51.4123401641846 </td> <td> 
 ایران تهران
تهران خیابان ولیعصر، خیابان دامن افشار
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای کوثر </td> <td> 32.7242768747985,51.6947374207479 </td> <td> 
 ایران اصفهان
اصفهان خیابان گلستان
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای موکارلو </td> <td> 29.653489,52.485168 </td> <td> 
 ایران فارس
شیراز چهارراه یارامونت(ابتدای خیابان قصرالدشت ) ، سمت چپ، پاساژ پارسه، طبقه همکف
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای کوروش مولانا </td> <td> 35.82992583954,50.9935149153442 </td> <td> 
 ایران البرز
کرج خیابان جهانشهر، بلوار مولانا، روبروی پارک مولانا، نبش خیابان ترانه شرقی، پلاک یک
 </td> </tr>
<tr> <td> 7 <td> فروشگاه زنجیره ای اسکاد </td> <td> 33.6941956446326,52.0014069359982 </td> <td> 
 ایران اصفهان
بادرود
 </td> </tr>
<tr> <td> 8 <td> فروشگاه زنجیره ای جانبو یافت آباد </td> <td> 35.660914,51.33903 </td> <td> 
 ایران تهران
تهران یافت آباد، خیابان فلاح، خیابان ابوذر، پلاک 680
 </td> </tr>
<tr> <td> 8 <td> فروشگاه پوشاک بچه گانه رولان شهروند بوستان </td> <td> 35.761098,51.333728 </td> <td> 
 ایران تهران
تهران پونک، میدان پونک، پاساژ بوستان، شهروند بوستان
 </td> </tr>

<tr> <td> 8 <td> لبنیات شهروند دهق </td> <td> 33.1048077383433,50.9612846374512 </td> <td> 
 ایران اصفهان
دهق خیابان امام، پایین تر از بانک ملی
 </td> </tr>
<tr> <td> 8 <td> خانه شهروند اصفهان </td> <td> 32.6831411146043,51.6892844438553 </td> <td> 
 ایران اصفهان
اصفهان میدان قدس، جنب پارک باقوشخانه
 </td> </tr>
<tr> <td> 8 <td> روستای زنجیره علیا </td> <td> 33.8086398345414,46.5672020317993 </td> <td> 
 ایران ایلام
چرداول دهستان شباب
 </td> </tr>
<tr> <td> 8 <td> فروشگاه زنجیره ایی یاس نوین پارسه شعبه راه آهن </td> <td> 36.2571821648983,50.0041222572327 </td> <td> 
 ایران قزوین
قزوین خیابان راه آهن
 </td> </tr>
<tr> <td> 8 <td> جایگاه سوخت شهروند 2 - میدان مادر </td> <td> 37.38638,46.26166 </td> <td> 
 ایران آذربایجان شرقی
مراغه
 </td> </tr>
<tr> <td> 8 <td> جایگاه سوخت شهروند </td> <td> 34.34649,47.13132 </td> <td> 
 ایران کرمانشاه
کرمانشاه کرمانشاه- بزرگراه امام خمینی سه راهی حافظیه
 </td> </tr>
<tr> <td> 8 <td> جایگاه سوخت شهروند 1 </td> <td> 37.35194,46.28361 </td> <td> 
 ایران آذربایجان شرقی
مراغه
 </td> </tr>
<tr> <td> 8 <td> جایگاه سوخت شهروند 3 </td> <td> 37.38805,46.22666 </td> <td> 
 ایران آذربایجان شرقی
مراغه
 </td> </tr>
<tr> <td> 8 <td> فروشگاه هایپر سالو </td> <td> 35.7298887554502,51.2483809143305 </td> <td> 
 ایران تهران
تهران اتوبان تهران کرج، بعد از بزرگراه آزادگان، خروجی چیتگر (شهرک گلستان)، بلوار کوهک، برج طوبی
 </td> </tr>


​




        </tbody>
    </table>


</body>
</html>